[Desktop Entry]
Type=Application
Version=1.5
Name=don't take it personally, babe, it just ain't your story
Icon=com.scoutshonour.dtipbijays
Exec=dtipb.sh
Categories=Game;AdventureGame;
Keywords=dtipbijays;
